---
// CSS
import "../../styles/experiencie.css";

// Data
import { jobs } from "../../data/jobsData";
---

<section class="site-container experience mt-16 mx-auto max-w-6xl px-4">
  <h2
    class="text-4xl font-bold flex flex-col items-center gap-6 text-center whitespace-nowrap text-white md:flex-row md:items-center md:text-start"
  >
    <span class="drop-shadow-[2px_2px_0_#7836cf]">Mi Experiencia</span>
    <span
      class="hidden h-1.5 grow rounded-lg drop-shadow-[2px_2px_0_#0debd8] bg-[#7836cf] md:block"
    ></span>
  </h2>

  <section class="jobs">
    <div class="job-title">
      {
        jobs.map((job, index) => (
          <button
            class={`headline-3 tabbutton ${index === 0 ? "active" : ""}`}
            aria-selected={index === 0 ? "true" : "false"}
            data-index={index}
          >
            {job.title}
          </button>
        ))
      }
    </div>

    <div class="jobs-descriptions">
      {
        jobs.map(({ title, time, description, list }, index) => (
          <div
            class={`description tabcontent ${index === 0 ? "active" : ""}`}
            data-index={index}
          >
            <h3 class="mb-2 text-2xl font-bold text-[#7836cf]">{title}</h3>
            <div class="job-time">
              {time.map((t) => (
                <time class="headline-4 text-zinc-400 mb-1" datetime={t}>
                  {t}
                </time>
              ))}
            </div>
            <p class="mb-2">{description}</p>
            <ul class="marker:text-[#7836cf] list-disc space-y-2 pl-5">
              {list.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>

  <div class="side-line"></div>
</section>

<script>
  import { initExperienceTabs } from "../../scripts/experienceTabs.js";

  initExperienceTabs();
  document.addEventListener("astro:after-swap", initExperienceTabs);
</script>
