---
import "../styles/global.css";
import type { ImageMetadata } from "astro";
import FallbackImage from "../assets/blog-placeholder-1.jpg";
import { SITE_CONFIG } from "../config/site";

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
}

const { title, description, image = FallbackImage } = Astro.props;
const pageTitle = `${title} | ${SITE_CONFIG.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site ?? Astro.url);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<link
  rel="preload"
  href="/fonts/atkinson-regular.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap.xml" />
<link href="/feed.xml" rel="alternate" type="application/rss+xml" />

<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL.toString()} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url).toString()} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url).toString()} />
